<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="body-form">
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- End of header -->

        <!-- Form section -->
        <main class="reg-form">
            <div class="header-form">
            <div class="first-line">
                <a href="/"><i class="fas fa-chevron-left" id="back-sign"></i></a>
                <div class="title-form">Crear una cuenta</div>
            </div>
            <div>Completa tus datos personales</div>
            </div>

            <form class="main-form" action="/users/register" method="POST" enctype="multipart/form-data"> 
                <div class="control-formulario">
                    <label for="nombre">Nombre</label><br>
                    <input 
                    type="text" 
                    id="nombre" 
                    name="nombre" 
                    placeholder="Nombres" 
                    class="control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                    value = "<%= locals.oldData && oldData.nombre ? oldData.nombre : null %>"> <!--REVISAR ESTA LÍNEA, INDICA QUE FALTA UN PARÉNTESIS EN LA COMPILACIÓN-->
                    
                    <% if(locals.errors && errors.nombre) { %>
                        <div class="text-danger"> 
                            <%= errors.nombre.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="control-formulario">
                    <label for="apellidoPaterno">Apellido paterno</label><br>
                    <input 
                    type="text" 
                    id="apellidoPaterno" 
                    name="apellidoPaterno" 
                    placeholder="Apellido paterno" 
                    class="control  <%= locals.errors && errors.apellidoPaterno ? 'is-invalid' : null %>">
                    <% if(locals.errors && errors.apellidoPaterno) { %>
                        <div class="text-danger"> 
                            <%= errors.apellidoPaterno.msg %>
                        </div>
                    <% } %>
                </div>
                
                <div class="control-formulario">
                    <label for="apellidoMaterno">Apellido 
                        materno</label><br>
                    <input 
                    type="text" 
                    id="apellidoMaterno" 
                    name="apellidoMaterno" 
                    placeholder="Apellido materno" 
                    class="control  <%= locals.errors && errors.apellidoMaterno ? 'is-invalid' : null %>">
                    <% if(locals.errors && errors.apellidoMaterno) { %>
                        <div class="text-danger"> 
                            <%= errors.apellidoMaterno.msg %>
                        </div>
                    <% } %>
                </div>
<!--AGRENDAO LÍNEA PARA PODER CARGAR ARCHIVOS-->
                <div class="control-formulario">
                    <label>Imagen de perfil:</label>
                    <input type="file" name="imagenUsuario" id="imagenUsuario" class="control">
                    <% if(locals.errors && errors.imagenUsuario) { %>
                        <div class="text-danger"> 
                            <%= errors.imagenUsuario.msg %>
                        </div>
                    <% } %>
                </div>
<!--------------------------------------------------------------------------------------------S-->
                <div class="control-formulario">
                    <label for="email">Email</label><br>
                    <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    placeholder="ejemplo@nodebike.com.pe"
                    class="control  <%= locals.errors && errors.email ? 'is-invalid' : null %>">
                    <% if(locals.errors && errors.email) { %>
                        <div class="text-danger"> 
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="control-formulario">
                    <label for="contraseña">Clave</label><br>
                    <input 
                    type="password" 
                    name="password" 
                    id="contraseña" 
                    class="control  <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    <% if(locals.errors && errors.password) { %>
                        <div class="text-danger"> 
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="control-formulario">
                    <label for="passwordx2">Confirmar clave</label><br>
                    <input 
                    type="password" 
                    name="passwordx2" 
                    id="passwordx2" 
                    class="control  <%= locals.errors && errors.passwordx2 ? 'is-invalid' : null %>">
                    <% if(locals.errors && errors.passwordx2) { %>
                        <div class="text-danger"> 
                            <%= errors.passwordx2.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="control-formulario">
                    <label>País de residencia</label><br>
                    <select 
                    name="paises" 
                    class="control <%= locals.errors && errors.paises ? 'is-invalid' : null %>">
                        <option value="">Elige un país</option>
                        <%
                            let paises = ['Peru', 'Canada', 'Colombia', 'Chile', 'Ecuador'];
                         %>
                         <% for (const unPais of paises) { %>
                            <option 
                                value="<%= unPais %>"
                                <%= locals.oldData && (unPais === oldData.paises) ? 'selected' : null  %> <!--REVISAR ESTA LÍNEA-->
                                > <%= unPais %> 
                            </option>
                         <% } %>
                    </select>
                        <% if(locals.errors && errors.paises) { %>
                            <div class="text-danger"> 
                                <%= errors.paises.msg %>
                            </div>
                        <% } %>
                </div>

                    <div class="control-formulario">
                        <label>Tipo de documento</label><br>
                        <select 
                        name="tipoDocumento" 
                        class="control <%= locals.errors && errors.tipoDocumento ? 'is-invalid' : null %>">
                            <option value="">Elige tipo de documento de identificación</option>
                            <%
                                let documentos = ['DNI', 'Pasaporte', 'Carnet de extranjería'];
                            %>
                            <% for (const unDocumento of documentos) { %>
                                <option value="<%= unDocumento %>"> <%= unDocumento %> </option>
                            <% } %>
                        </select></div>

                        <div class="control-formulario">
                            <label for="numeroDocumento">Número de documento</label><br>
                            <input 
                            type="text" 
                            name="numeroDocumento" 
                            id="numeroDocumento" 
                            class="control <%= locals.errors && errors.numeroDocumento ? 'is-invalid' : null %>" >
                            <% if(locals.errors && errors.numeroDocumento) { %>
                                <div class="text-danger"> 
                                    <%= errors.numeroDocumento.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="control-formulario">
                            <label for="genero">Género</label><br>
                            <div class="line" id="line-1"><input type="radio" name="genero" value="femenino" checked>Femenino</div>
                            <div class="line"><input type="radio" name="genero" value="masculino">Maculino</div>
                        </div>

                        <div class="control-formulario">
                            <label for="fechaNacimiento">Fecha de Nacimiento</label><br>
                            <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="control"> 
                        </div>

                        <div class="control-formulario">
                            <label for="celular">Número de documento</label><br>
                            <input 
                            type="text" 
                            name="celular" 
                            id="celular" 
                            class="control <%= locals.errors && errors.celular ? 'is-invalid' : null %>" 
                            placeholder="954562253">
                            <% if(locals.errors && errors.celular) { %>
                                <div class="text-danger"> 
                                    <%= errors.celular.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="control-formulario">
                            <div class="line" id="line-1"><input type="checkbox" name="condicion" value="novedades" checked>Quiero recibir novedades</div>
                            <div class="line"><input type="checkbox" name="condicion" value="terminos" checked>Acepto <a href=""><u>Términos y Condiciones</u></a></div>
                        </div>

                        <div class="primary-button"><button type="submit" class="boton-formulario">CREAR CUENTA</button></div>

            </form>
        </main>


        <!--End of form section-->

 <!-- Footer -->
 <%- include('../partials/footer') %>
<!-- End of Footer -->
    
</body>
</html>