<!--Es muy similar a la vista de lista de usuarios-->
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<h1>Search</h1>
<ul>
    <% for(let i=0; i<search.length; i++){ %>
        <li>
           <a href="users/detail/<%=search[i].id %>"> <%= search[i].name %> </a>
        </li>
    <% } %>
</ul>
<h2>Search</h2>
<form action="users/search" method="GET">
    <input type="text" name="search"> <!--Antes era query-->
    <input type="submit" value="search">

</form>

    <%- include('../partials/footer') %>
</body>
</html>