<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> <!--Entiendo que debería haber un link que jale a la edición o busqueda de un producto-->
    <main>
        
                   <form action="/edit/<%=:id %>" method="POST">
                        <p>
                            <label for="name">Nombre del producto:</label>
                            <input id="name" name="name" type="text" value="<%= bicicleta.name %>"> <!--Debo de colocar un objeto literal-->
                        </p>
                        <p>
                            <label for="description">Descripción:</label>
                            <input id="description" name="description" type="text" value="<%=bicicleta.description %>">
                        </p>
                        <p>
                            <label for="image">Imagen:</label>
                            <input id="image" name="image" type="text" value="<%=bicicleta.image %>">
                        </p>
                        <p>
                            <label for="category">Categoría:</label>
                            <input id="category" name="category" type="text" value="<%= bicicleta.category %>">
                        </p>
                        <p>
                            <label for="price">Precio:</label>
                            <input id="price" name="price" type="number" value="<%= bicicleta.price %>">
                        </p>
                        <button type="reset">Limpiar</button>
                        <button type="submit">Guardar</button>

                    </form>
                
       
    </main>


    <%- include('../partials/footer') %>
</body>
</html>